/* Colors, spacing and other little things */

$brand-primary: #005886;
$bg-color: #F3F3F3;

/* Break Points */
$dragon2: 1400px;
$dragon: max-width 1500px;
$knight: max-width 1250px;
$peasant: max-width 650px;