/* Header */
header {
	@include v-spacing(2em,2em);

	@include container(100%);
	article{
		@include span(12);
	}
}

.logo {
	@include span(6);
	@include breakpoint($peasant){
		@include span(8);
	}
	a {
		@include breakpoint($peasant){
		}
	}
	p {
		color: $brand-primary;
		// margin: 8px 0;
	}
	padding: 0px;
}

nav {
	@include span(6 at 7);
}
.menu-header {
	float: right;
	ul {
		line-height: 24px;
		li:nth-last-child(1) {
			margin-right: 0px;
		}
		li{ 
			display: block;
			margin-right: 30px;
			float: left;
			// display: inline;
			// font-size: $font-size-base;
			padding: 0px 0px;
			width: auto;
			a {
				position: relative;
			}
			a:after {
		    content:'';
		    position:absolute;
		    left:0;
		    right:0;
		    bottom: 2px;
		    border-bottom:solid 1px #fff;
		    @include single-transition(all);
		    
			}
			a:hover:after {
				border-bottom: solid 1px $brand-primary;
			}
		}
	}
}
.nav-toggle {
	float: right;
	margin: 14px 0px 0px 0px
}

.home {
	.menu-item-16{
		a:after{
		border-bottom: solid 1px $brand-primary;
	}
	}
}
.journal{
	.menu-item-13{
		a:after{
		border-bottom: solid 1px $brand-primary;
	}
	}
}
.contact{
	.menu-item-15{
		a:after{
		border-bottom: solid 1px $brand-primary;
	}
	}
}