/* Home Page Styleing */

.intro {
	@extend .p-intro;
	padding-bottom: 60px;
	@include span(6 at 7);
	@include breakpoint($peasant){
		@include span(12);
	}
}
section {
	@include container(100%);
}

.work-links {
	margin-top: gutter();
	margin-bottom: gutter();
	@include span(6);
	@include breakpoint($peasant){
		margin: 0px;
		@include span(12);
		padding: 0px;
	}
	a {
		display: block;
		position: relative;
		width: 100%;
	}
	picture {
		display: block
	}
}