/* Layout */
$susy: (
  columns: 12,
  gutters: .25,
  gutter-position: inside,
);



@include sticky-footer(54px);
.fullwidth {
	@include container(100%);
}
.body {
	// background: #fff;
	@include container(1160px);
	// @include breakpoint($dragon2){
	// 	@include container(1300px);
	// }
	@include breakpoint(max-width 1300px) {
		@include container(95%);
	}
	@include breakpoint($peasant) {
		@include container(100%);
	}
}

section {
	@include container(100%);
}

.embed-container{
	@include v-spacing(2em,2em);
}

/* LEFT RIGHT */
.left-right {
	@include container(100%);
	@include v-spacing(0,3em);
	.left {
		float: left;
		@include span(7.7);
		@include breakpoint($peasant) {
			@include span(12);
		}
	}/* Left END */
	.right{
		float: left;
		@include push(.3 of 12);
		@include span(4);
		@include mobile;
		@include breakpoint($peasant){
			@include v-spacing(1em);
		}
	}/* Right END */
	.screen-img{
		img {
			float: left;
			border: 1px #e0e0e0 solid;
			@include span(5.65);
			padding: 0px;
		}
		picture:last-child img {
			@include push(.7);
		}
	}
}
/* LEFT RIGHT END */
