
.pr-header{
	@include v-spacing(1em, 1em, padding);
}
.pr-header-img{
	max-width: 1000px;
	// @include span(8);
	@include push(2 of 12);
	margin: 0 auto;
	float: none;
	@include breakpoint($peasant) { 
		@include span(12);
		@include push(0 of 12); 
	}
}
.pr-intro{
	@extend .body;
	// border-top: 1px $brand-primary-light solid;
	border-bottom: 1px $brand-primary-light solid;
	@include v-spacing(1em,1em,padding);
	@include v-spacing(1em,1em);
}
.pr-description {
	@include span(4);
	@include breakpoint($soldier){
		@include span(6);
	}
	@include mobile;
}
.pr-client,.pr-details,.pr-team {
	@include push(0);
	@include span(2);
	@include breakpoint($soldier){
		@include span(3);
	}
	@include mobile;
	p{
		margin-bottom: 0px;
	}
}

.pr-content {
	@extend .body;
	p > picture img {
		@include span(6);
		@include v-spacing(1em,1em);
	}

	> h4 {
		padding: 0px;
		@include layout-center(8);
	}
}
.pr-problem {
	@include v-spacing(.5em,.5em);
	@include v-spacing(0em,0em,padding);
	div {
		@extend .body;
		article {
			@include span(12);
			@include mobile;
		}
	}
}
